<%= form_for(@question) do |f|  %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(question.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="row clear ">
      <div class="form-group col-lg-5">
        <%= f.label "Envíanos tu pregunta:" %>
        <%= f.text_area :question, class: 'form-control black-text', placeholder: "Escriba su pregunta aquí", :required => true %>
      </div>
    </div>



    <div class="row clear col-md-4  button-margin">
      <div class="field">
        <%= f.label "Email:"  %>
        <%= f.email_field :email, class: 'black-text', :required => true %>
      </div>
    </div>


      <div class="actions">
        <%= f.submit "Enviar pregunta", class: 'btn btn-default' %>
      </div>



<% end %>
