<div class="header1">

  <p id="notice"><%= notice %></p>

  <div class="col-md-offset-2">
    <%= render 'form', event: @question %>
  </div>
</div>

<div class="nav-wrapper">
  <div id="affix-container" class="row spacing-navbar  clear myaffix nav" data-spy="affix">
  <%= render 'layouts/navbar' %>
</div>
</div>

<div class="row clear">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="text-center">Lista de preguntas frecuentes</h4>
    <div class="list-group black-text">
      <% @faq.each_with_index do |faq, index| %>
          <li id="onhover" class='list-group-item' data-toggle="collapse" data-target="#<%= index %>">
            <p class="h4 strong bold"><%= faq.question %></p>
            <div id="<%= index %>" class="collapse">
              <p><%= faq.answer %></p>
            </div>
          </li>
      <% end %>
    </div>
  </div>
</div>