<div class="col-md-8 col-md-offset-2">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.email_field :email, autofocus: true, class: "form-control black-text", placeholder: "Email" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.password_field :password, autocomplete: "off", class: "form-control black-text", placeholder: "Contraseña" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control black-text", placeholder: "Repetir contraseña" %>
      </div><br>

      <div class="actions text-right">
        <%= f.submit "Sign up", class: "black-text" %>
      </div>
  <% end %>

  <div class="text-right">
    <%= render "devise/shared/links" %>
  </div>
</div>