<div class="text-center" style="align-items: center;">
  <iframe width="1000" height="421" src="https://www.youtube.com/embed/remXgsEzxa8" frameborder="0" allowfullscreen></iframe>
</div>



<div class="nav-wrapper">
  <div id="affix-container" class="row spacing-navbar  clear myaffix nav" data-spy="affix">
    <%= render 'layouts/navbar' %>
  </div>
</div>

<div id="eventos"></div>

<script>
  function Events(data) {
    var count = 0;
    var div = document.getElementById("eventos");
    for (var i = 0; i < data.docs.length; i++) {
      count++;
      div.innerHTML += '<div id="events" class="col-md-3"> <div class="thumbnail"> <img src="' + data.docs[i].imagen + '" id="event-img" > <div  class="caption"> <h5 id="card-tittle-height">' + data.docs[i].nombre + '</h5> <p><a href="#" class="btn btn-default" role="button"><strong>Información del evento</strong></a></p> </div> </div> </div>'
    }
  }
</script>

<script>
  $.ajax({
    url: 'http://www.santacruzdetenerife.es/opendata/dataset/f38a3086-8d4c-4c6a-943e-629056b66f01/resource/95a65af3-5f11-4041-a418-45afcc5e7686/download/agendacultural.jsoncontenido.html',
    success: function (data) {
      Events(data);
    }
  });
</script>