<!-- Carousel-->
<div class="carousel-container col-md-8 col-md-offset-2" >
<%=  render 'layouts/carousel' %>
</div>

<div class="nav-wrapper">
  <div id="affix-container" class="row spacing-navbar  clear myaffix nav" data-spy="affix">
    <%= render 'layouts/navbar' %>
  </div>
</div>

<div class="row clear">
  <% @nightclubs.each do |nightclub| %>
      <div class="col-md-2 col-md-offset-1">
        <div class="thumbnail">
          <a href="/nightclubs/<%= nightclub.id %>">
            <%= image_tag(nightclub.image.url(:thumbnail)) %>
            <% if nightclub.adapted %>
                <%= image_tag('/adapted-icon.png', class: 'adapted-icon') %>
            <% end %>
            <div class="caption">
              <h3> <%= nightclub.name %> </h3>
              <p> <%= nightclub.location %> </p>
            </div>
          </a>
        </div>
      </div>
  <% end %>
</div>
