<div class="col-md-8 col-md-offset-2">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.email_field :email, autofocus: true, class: "form-control black-text", placeholder: "Email" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.password_field :password, autocomplete: "off", class: "form-control black-text", placeholder: "Contraseña" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label "Recordar" %>
          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "black-text" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>