<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery_id %>
    <%= f.text_field :gallery_id %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
