<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @photo.gallery %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
