<%= form_for(nightclub) do |f| %>
    <% if nightclub.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(nightclub.errors.count, "error") %> prohibited this nightclub from being saved:</h2>

          <ul>
            <% nightclub.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field hidden">
      <%= f.label :user_id %>
      <%= f.text_field :user_id, :required => true, value: current_user.id %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :latitude %>
      <%= f.text_field :latitude, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :longitude %>
      <%= f.text_field :longitude, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, :required => true, class: "black-text" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, :required => true %>
    </div>

    <div class="field">
      <%= f.label :date %>
      <div class="black-text"><%= f.date_select :date, class: "black-text" %></div>
    </div>

    <div class="field">
      <%= f.label :validity %>
      <div class="black-text"><%= f.date_select :validity %></div>
    </div>

    <div class="field">
      <%= f.label :adapted %>
      <%= f.check_box :adapted, class: "black-text" %>
    </div>

    <div class="actions black-text">
      <%= f.submit %>
    </div>
<% end %>
