<script src="//maps.google.com/maps/api/js?key=AIzaSyAND5z9Tbkt3FkhDNLprNfnFNfH2l0bnGo"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div id="map"></div>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @nightclub.latitude %>,
        "lng": <%= @nightclub.longitude %>,
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>