<%= form_for(photo) do |f| %>
    <% if photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
            <% photo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field hidden">
      <%= f.label :gallery_id %>
      <%= f.text_field :gallery_id, value: gallery_id %>
    </div>

    <div class="field hidden">
      <%= f.label :image %>
      <%= f.file_field :image, :required => true, id: "trigger#{gallery_id}" %>
    </div>

    <button id="button<%= gallery_id %>" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-picture"> Examinar...</span>
    </button>

    <div class="actions black-text">
      <%= f.submit "Añadir foto" %>
    </div>
<% end %>

<script>
  $(document).ready(function () {
    $('#button<%= gallery_id %>').on('click', function (e) {
      e.preventDefault();
      $("#trigger<%= gallery_id %>").trigger('click');
    });
  });
</script>