<% if @nightclub.user != current_user %>
    <br>
    <div class="alert alert-danger text-center">
      <strong>¡Violación de permisos!</strong> <p>No posees permisos para modificar/eliminar este local.</p>
    </div>
<% else %>
    <h1>Editing Nightclub</h1>

    <%= render 'form', nightclub: @nightclub %>

    <%= link_to 'Show', @nightclub %> |
    <%= link_to 'Back', nightclubs_path %>
<% end %>