<div class="text-center">
  <%= link_to ' Añadir local', new_nightclub_path, class: "btn btn-default glyphicon glyphicon-plus" %>
</div>

<div class="row clear">
  <% @nightclubs.each do |nightclub| %>
      <div class="col-md-2 col-md-offset-1">
        <div class="thumbnail">
          <a href="/nightclubs/<%= nightclub.id %>">
            <%= image_tag(nightclub.image.url(:thumbnail)) %>
            <% if nightclub.adapted %>
                <%= image_tag('/adapted-icon.png', class: 'adapted-icon') %>
            <% end %>
            <div class="caption">
              <h3> <%= nightclub.name %> </h3>
              <p> <%= nightclub.location %> </p>
            </div>
          </a>
        </div>
      </div>
  <% end %>
</div>