<div class="row clear">
  <% if @nightclub.user == current_user %>
      <div>
        <%= link_to ' Editar', edit_nightclub_path(@nightclub), class: "btn btn-default glyphicon glyphicon-pencil" %>
        <%= link_to ' Borrar', nightclub_path(@nightclub), method: :delete, data: { confirm: '¿Está seguro que quiere borrar este local?' }, class: "btn btn-default glyphicon glyphicon-trash" %>
      </div>
  <% end %>
  <!-- Image -->
  <div class="col-md-2 col-md-offset-1">
    <p>
      <%= image_tag(@nightclub.image.url(:large))%>
      <% if @nightclub.adapted %>
          <%= image_tag('/adapted-icon.png', class: 'adapted-icon') %>
      <% end %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @nightclub.name %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @nightclub.location %>
    </p>
  </div>

  <div class="col-md-2 col-md-offset-1">
    <p>
      <strong>Price:</strong>
      <%= @nightclub.price.to_s + "€" %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @nightclub.date %>
    </p>
  </div>

  <div class="col-md-2 col-md-offset-1">
    <%= render 'map' %>
  </div>
</div>

<div class="row clear">
  <div class="col-md-4 col-md-offset-1">
    <p>
      <%= @nightclub.description %>
    </p>
  </div>
</div>

<div class="nav-wrapper">
  <div id="navbarfix" class="row clear spacing-navbar  clear myaffix nav" data-spy="affix" data-offset-top="190">
    <%= render 'layouts/navbar' %>
  </div>
</div>

<% if @nightclub.user == current_user %>
    <div>
      <%= render 'gallery_form', gallery: @gallery_and_photo.first %>
    </div>
<% end %>

<!-- Galleries -->
<div class="container">
  <div class="row clear">
    <% @nightclub.galleries.each do |gallery| %>
        <div class="col-md-2">
          <%= link_to nightclub_gallery_path(:nightclub_id => @nightclub.id)  do %>
          <div class="carousel-container-160x1250">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div id="carousel-controller-fix" class="carousel-inner" role="listbox">
                <% gallery.photos.each_with_index do |photo, iteration| %>
                    <% if iteration == 0 %>
                        <div  class="item active">
                          <%= image_tag(photo.image.url(:large), class: 'carousel-img') %>
                        </div>
                    <% else %>
                        <div  class="item">
                          <%= image_tag(photo.image.url(:large), class: 'carousel-img') %>
                        </div>
                    <% end %>
                <% end %>
              </div>
          <% end %>
            </div>
            <p class="text-center"><%= gallery.created_at.strftime("%d %b. %Y") %></p>
            <% if @nightclub.user == current_user %>
                <div>
                  <%= render 'photo_form', photo: @gallery_and_photo.second, gallery_id: gallery.id %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>