

<div id="photos-container">
<% @gallery.photos.each do |photo| %>
    <div class="col-md-4 img-cont">
      <%= image_tag(photo.image.url(:large), :class  => "img-full") %>
    </div>
<% end %>
</div>