<div class="carousel-container-240x1250">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div id="carousel-controller-fix" class="carousel-inner" role="listbox">
      <div  class="item active">
        <%= image_tag('1c8e28f86c921f7b5cc4244e7a88278e4.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('Evento.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('1c8e28f86c921f7b5cc4244e7a88278e4.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('Evento.jpg' , class: 'carousel-img') %>
      </div>
    </div>

  </div>
</div>