<div class="col-md-6 col-md-offset-1">
  <p class="text-center">
    ¿Necesitas impulsar tu negocio ofreciendo una imagen de calidad, tanto a nivel de diseño como de fotografía?
  </p>
  <br>
  <h3 class="text-center"> Enhorabuena. <br> Has dado con la solución.</h3>
  <br>
  <p class="text-justify">
    Nuestros expertos tienen una amplia experiencia gracias al conocimiento de su labor, que les permite tener un manejo adecuado para cada trabajo.
    Además, puede apreciar nuestro portafolio encima de la barra de navegación y darse una idea de lo que usted esta buscando para las fotos de su local.
  </p>
</div>


<!-- Carousel-->
<a href="#">
  <div class="carousel-container col-md-4 col-md-offset-1">
    <%=  render 'carousel' %>
    <p class="text-center">Nuestras imágenes</p>
  </div>
</a>

<div class="nav-wrapper">
  <div id="navbarfix" class="row clear spacing-navbar  clear myaffix nav" data-spy="affix" data-offset-top="190">
    <%= render 'layouts/navbar' %>
  </div>
</div>


<div class="container black-text">
  <div class="row clear">

    <div class="col-md-3 col-md-offset-1">

      <!-- PRICE ITEM -->
      <div class="panel price panel-red">
        <div class="panel-heading  text-center">
          <h3>PLAN LEYENDA</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>20 €</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Contrata siempre que quieras</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Para esas fiestas que están destinadas a ser LEYENDAS</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24h</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-danger" href="#">¡CONTRATA AHORA!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

    <div class="col-md-3 col-md-offset-1">

      <!-- PRICE ITEM -->
      <div class="panel price panel-blue">
        <div class="panel-heading arrow_box text-center">
          <h3>PLAN FIESTA</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>10 €</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-info"></i> Contrata siempre que quieras</li>
          <li class="list-group-item"><i class="icon-ok text-info"></i> Para que demuestres que eres único montando FIESTAS</li>
          <li class="list-group-item"><i class="icon-ok text-info"></i> 12h</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-info" href="#">¡CONTRATA AHORA!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

    <div class="col-md-3 col-md-offset-1">

      <!-- PRICE ITEM -->
      <div class="panel price panel-green">
        <div class="panel-heading arrow_box text-center">
          <h3>PLAN GRATIS</h3>
        </div>
        <div class="panel-body text-center">
          <p class="lead" style="font-size:40px"><strong>0 €</strong></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-success"></i> Contrato único</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> Nos guardamos el derecho a publicar las imágenes en nuestra web</li>
          <li class="list-group-item"><i class="icon-ok text-success"></i> 12h</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-success" href="#">¡CONTRATA AHORA!</a>
        </div>
      </div>
      <!-- /PRICE ITEM -->


    </div>

  </div>

</div>