<div class="carousel-container-371x1250">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div id="carousel-controller-fix" class="carousel-inner" role="listbox">
      <div  class="item active">
        <%= image_tag('1c8e28f86c921f7b5cc4244e7a88278e4.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('Evento.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('1c8e28f86c921f7b5cc4244e7a88278e4.jpg', class: 'carousel-img') %>
      </div>

      <div  class="item">
        <%= image_tag('Evento.jpg' , class: 'carousel-img') %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" id="control-fix"  role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel"   id="control-fix"  role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>