<nav id="headerfix" class=" navbar navbar-inverse header col-md-12 col-lg-12 col-sm-12 ">
  <div id="left-padding-fixed" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      <%= link_to 'CanParty',  root_url, class: "navbar-brand" %>
    </div>
    <div class="navbar-form navbar-right">
      <% if current_user %>
          <%= notice %> <%= current_user.email%>
          <%= link_to ' Mis locales',  my_nightclubs_path, class: "btn glyphicon glyphicon-th-list" %>
          <%= link_to ' Logout', destroy_user_session_path, method: :delete, class: "btn btn-default glyphicon glyphicon-off" %>
      <% else %>
          <%= notice %>
          <%= link_to ' Login', new_user_session_path, class: "btn btn-default glyphicon glyphicon-user" %>
      <% end %>
    </div>
  </div>
</nav>
