<nav id="left-padding-fixed" class=" navbar navbar-inverse col-md-10 col-lg-10 col-sm-10 affixtarget">
  <div id="left-padding-fixed" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="nav" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="left-padding-fixed">
      <ul class="nav navbar-nav">
        <li class="li">
          <% if current_page?(nightclubs_url)%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtrar Locales<span class="caret"></span></a>
              <ul class="dropdown-menu violet filters">
                <li data-filer="adapted"><%=	link_to 'Locales adaptados', adapted_path %> </li>
                <li date-filter="rent"><a href="#not-adapted">Locales en alquiler</a></li>
                <li date-filter="erasmus"><a href="#not-adapted">Locales Erasmus</a></li>
              </ul>
            </li>
        <% else %>
            <li > <%= link_to 'Locales', nightclubs_url %> </li>
        <% end %>
        </li>
        <li > <%= link_to 'Eventos',  events_path  %> </li>
        <li> <%= link_to 'Fotografía', photography_url %> </li>
        <li> <%= link_to 'FAQ', questions_url %> </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar trigger navbar-inverse calendar col-md-2 col-lg-2 col-sm-2">
  <input type="hidden" id="datepicker">
  <div class="text-center">Calendario</div>
</nav>


<script>
  <!-- Calendar -->
  $(function () {
    $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
    $(".trigger").click(function () {
      $("#datepicker").datepicker("show");
    });
  });

  $("#datepicker").datepicker({
    onSelect: function(dateText) {
      console.log("Selected date: " + dateText + "; input's current value: " + this.value);

      $.ajax({
        url:'/home',
        type:'POST',
        dataType:'json',
        data:{
          myparam1: "First Param value",
          myparam2: "Second param value",
        }
      });
    }
  });

  function Resize (){
    $(".myaffix").css("width", $("#navbarfix").width());
    $("#affix-container").affix({
      offset: {
        top: $('.affixtarget').offset().top - $('.affixtarget').height()
      }
    })
  }

  Resize();
  //$(".myaffix").css("width", $(window).outerWidth(true));
  $(window).on("resize", Resize());

  $(document).on("page:change", Resize());
  $(document).ready(Resize());
</script>